.page-head-line-admin {
  font-weight: 900;
  padding-bottom: 20px;
  border-bottom: 2px solid #F0677C;
  text-transform: uppercase;
  color: #F0677C;
  font-size: 20px;
  margin-bottom: 40px;
}

.page-head-line-student {
  font-weight: 900;
  padding-bottom: 20px;
  border-bottom: 2px solid #172b3f;
  text-transform: uppercase;
  color: #172b3f;
  font-size: 20px;
  margin-bottom: 40px;
}


.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}
.post .post-header {
  margin-bottom: 10px;
}
.post .post-content {
  margin-bottom: 15px;
}
.post .post-footer {
  font-size: 14px;
  color: #666;
}